@import 'header';
@import 'sign';
@import 'btn';
@import 'card';
@import 'form';

body {
  width: 414px;
  height: 100%;
  background: #FFFFFF;

  font-family: Avenir;
  font-style: normal;
  font-weight: normal;

  .container {
    margin: 0 30px;
  }

  a {
    text-decoration: none;
    color: black;
    opacity: 0.5;
  }

  .fadeOut {
    display: none;
  }
}

