.btn-primary {
  width: 362px;
  height: 40px;
  background: #F8BD1C;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 8px 0 7px 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}