.card {
  margin-top: 26px;
  width: 362px;
  height: 180px;
  background-color: #f4f4f4;
  border-radius: 10px;

  &-title {
    margin: 0;
    display: flex;

    &-left{
      margin: 32px 0 6px 17px;
      font-size: 18px;
    }

    &-right {
      width: 20px;
      height: 6px;
      margin: 38px 18px 0 auto;
      cursor: pointer;
      display: block;

      &:hover + .drop-text{
        opacity: 1;
      }
    }
  }

  &-content {
    margin: 12px 0 0 17px;
    font-size: 14px;
    line-height: 19px;
    opacity: 0.4;
  }

  &-avatar {
    display: block;
    width: 30px;
    height: 30px;
    margin: 15px 0 0 20px; 
  }

  

  .drop-text {
    opacity: 0;
    margin: 0 15px 0 auto; 
    padding: 0px 8px;
    background-color: #FFFFFF;
    border-radius: 10px;
    z-index: 1;
    transition-duration: 7ms;

    &:hover {
      opacity: 1;
    }
  }

  .edit-text{
    display: block;
    font-size: 12px;
    margin: 10px 0 11px 14px;
  }

  .delete-text{
    display: block;
    font-size: 12px;
    margin: 10px 0 11px 14px;
  }

  
}

.content {
  display: flex;
  margin-left: 6px;

  &-drop {
    margin: 0 10px 0 auto;
    padding-right: 8px;
    background-color: #FFFFFF;
    border-radius: 10px;
    z-index: 1;
    transition-duration: 7ms;
  }
}

.drop-btn {

  opacity: 0;

  &:hover {
    opacity: 1;
  }
}


.new-card {
  margin: 26px 0 30px 0;
  width: 362px;
  height: 180px;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  line-height: 180px;
  text-align: center;


  .new-board {
    margin: 0;
    font-size: 18px;
    color: #4e4e4e;
  }  
}
